<mat-grid-list cols="4" rowHeight="150px" class="intro-section">
    <mat-grid-tile colspan="4" rowspan="1" class="rowHeight">
        <mat-card>
            <mat-card-title>Ben vindo!</mat-card-title>
            <mat-card-subtitle class="subtitle">
                Aqui você encontra das as informações para o teste.
            </mat-card-subtitle>
            <mat-card-content>
                <p>
                    No menu ao lado o botão de navega <strong>Beneficiário</strong> poderá testa as funcionalidades da aplicação
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
