<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav"
                 mode="side"
                 opened
                 fixedInViewport="true" fixedTopGap="65">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>

                Início
            </a>
            <a mat-list-item routerLink="/beneficiarios">
                <i class="material-icons">
                    emoji_people
                </i>

                Beneficiários
            </a>
            <a mat-list-item routerLink="/documentacao">
                <i class="material-icons">
                    fact_check
                </i>

                Documentação
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
