<mat-card>
    <mat-card-title>Detalhes do Benefício</mat-card-title>
    <mat-card-content>
        <section>
            <article class="article-details">
                <p>
                    <label class="label-details">Nome:</label><strong> Teste Teste</strong>
                </p>
                <p>
                    <label class="label-details">CPF:</label><strong> 10000000</strong>
                </p>
                <p>
                    <label class="label-details">Saldo total:</label><strong> 1000</strong>
                </p>
                <p>
                    <label class="label-details">Tempo do beneficio em anos</label><strong> 1000</strong>
                </p>
                <p>
                    <label class="label-details">Valor do beneficío</label><strong> 1000</strong>
                </p>
            </article>
        </section>
    </mat-card-content>
</mat-card>
